services:
  meeting-bot:
    build:
      context: .
      dockerfile: Dockerfile.development
    environment:
      - NODE_ENV=development
    ports:
      - "4000:4000"
    volumes:
      - .:/usr/src/app
      - ./assets/screenshots:/usr/src/app/assets/screenshots
      - /usr/src/app/node_modules
    command: ["/bin/bash", "./start.sh"]


volumes:
  cache:
